  <div class="piece-price {{ class }}">
    <span class="piece-price__price theme-money">{{ variant.price | divided_by: variant.metafields.custom.menge | money }}</span>
    <span class="piece-price__separator">{{ 'products.product.unit_price_separator' | t }}</span>
    <span class="piece-price__unit">Stück</span>
  </div>
