{% assign vpes = product.metafields.custom.vpe | newline_to_br | split: '<br />' %}



    <div class="option-selectors">
{% for vpe in vpes %}
{% assign vpedata = vpes | split: '-' %}

          <div class="option-selector" data-selector-type="dropdown" data-option-index="{{ forloop.index0 }}">
            {% render 'custom-select',
              id: option_id,
              label: option.name,
              option_values: option.values,
              selected_value: selected_value,
              swatches: uses_swatches,
              blank_option: blank_option
            %}
          </div>

    {% endfor %}
    
              </div>
