{% assign vpes = product.metafields.custom.vpe | newline_to_br | split: '<br />' %}

{%- liquid
   assign amounts = ''
   assign labels = ''
   for vpedata in vpes
   assign test = vpedata
     assign amount = vpedata[0] | strip
     assign amounts = amounts | append: ',' | append: amount
     assign label = vpedata[1] | strip
     assign labels = labels | append: ',' | append: label
   endfor

   assign option_values = amounts | split: ','
   assign option_names = labels | split: ','
-%}

{{ amounts }}

{{ test | json }}

{% assign vpedata = vpes | split: '-' %}

          <div class="option-selector" data-selector-type="dropdown" data-option-index="{{ forloop.index0 }}">
            {% render 'custom-select',
              id: 'myOwnID',
              label: 'Menge',
              option_values: option_values,
              option_names: option_names
            %}
          </div>

