{% assign vpes = product.metafields.custom.vpe | newline_to_br | split: '<br />' %}



{% assign vpedata = vpes | split: '-' %}

          <div class="option-selector" data-selector-type="dropdown" data-option-index="{{ forloop.index0 }}">
            {% render 'custom-select',
              id: 'myOwnID',
              label: 'Menge',
              option_values: vpes,
            %}
          </div>

