{% assign vpes = product.metafields.custom.vpe | newline_to_br | split: '<br />' %}

{%- liquid
   assign amounts = ''
   assign labels = ''
   for vpedata in vpes
     assign amount = vpedata[0]
     assign amounts = amounts | append ',' | append amount
     assign label = vpedata[1]
     assign labels = labels | append ',' | append label
   endfor

   assign option_values = amounts | split ','
-%}

{% assign vpedata = vpes | split: '-' %}

          <div class="option-selector" data-selector-type="dropdown" data-option-index="{{ forloop.index0 }}">
            {% render 'custom-select',
              id: 'myOwnID',
              label: 'Menge',
              option_values: option_values,
            %}
          </div>

