{% assign vpes = product.metafields.custom.vpe | newline_to_br | split: '<br />' %}

{%- liquid
   assign amounts = ''
   assign labels = ''
   assign selected_value = ''
   for vpe in vpes
     assign vpedata = vpe | split: '-'
     assign amount = vpedata[0] | strip
     assign label = vpedata[1] | strip
     if forloop.index0 > 0
       assign amounts = amounts | append: ','
       assign labels = labels | append: ','
     else
       assign selected_value = amount
     endif
     assign amounts = amounts | append: amount
     assign labels = labels | append: label
   endfor

   assign option_values = amounts | split: ','
   assign option_names = labels | split: ','
-%}

{% assign vpedata = vpes | split: '-' %}

          <div class="option-selector" data-selector-type="dropdown" data-option-index="{{ forloop.index0 }}">
            {% render 'custom-select',
              id: 'customQuantitySelector',
              label: 'Menge',
              option_values: option_values,
              option_names: option_names,
              selected_value: selected_value,
              include_native: true,
              native_name: 'quantity'
            %}
          </div>
<script>
var hsnPrices = [];

var hsnLoadPrices = function()  {
  var $rows = $('.STP-tiers tr');
  $rows.each(function()  {
    var text = $(this).text();
    var begin = 0;
    var info = [];
    var names = ['min', 'price'];
    for(var i=0; i < names.length; i++)  {
      while((begin < names.lenght) && isNaN(parseInt(text.substr(begin))))  {
        begin++;
      }
      var infopart = parseFloat(text.substr(begin));
      info[names[i]] = infopart;
      begin += ('i' + infopart).length;
    }
    hsnPrices.push(info);
  });
}
  
</script>
